<div class="content" style="    padding: 30px 15px;">
  <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <div class="form-group">
      <label>Name</label>
      <input type="text" [(ngModel)]="name" formControlName="name" class="form-control" placeholder="Enter name">
    </div>

    <div class="form-group">
      <label>Username</label>
      <input type="text" [(ngModel)]="username" formControlName="username" class="form-control" placeholder="Enter Username">
    </div>

    <div class="form-group">
      <label>Email address</label>
      <input type="email" [(ngModel)]="email" formControlName="email" class="form-control" placeholder="Enter email">
    </div>

    <div class="form-group">
      <label>Password</label>
      <input type="password" [(ngModel)]="password" formControlName="password" class="form-control" placeholder="Password">
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">Register</button>
  </form>
  <br>
  <div *ngIf="success" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success!</strong> user Registered!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div *ngIf="failure" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Failed!</strong> to Register user, please try again!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>